.boardCard {
    display: flex;
    padding: .5rem 1rem;
    width: 14rem;
    height: 9.6rem;
    border-radius: var(--padding-s);
    background-color: var(--grey-dark);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

@media (pointer: fine) {
    .boardCard:hover {
        filter: brightness(.95);
    }
}