.boardCard {
    display: flex;
    padding: .5rem 1rem;
    width: 17rem;
    height: 9rem;
    border-radius: 3px;
    background-repeat: noRepeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

@media (pointer: fine) {
    .boardCard:hover {
        filter: brightness(.95);
    }
}