.addList {
    width: 27rem;
    border-radius: var(--padding-xs);
}

.addList form {
    width: 100%;
    font-size: 1.4rem;
}

.addList input {
    width: 100%;
    height: 3.6rem;
    padding: var(--padding-s);
    border-radius: var(--padding-xs);
    font-family: var(--font-primary);
    color: var(--grey-darker);
    border: none;
    overflow: gr;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
}

.showFormBtn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 0;
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, .15);
    color: white;
    padding: var(--padding-m);
    border-radius: var(--padding-xs);
    cursor: pointer;
    user-select: none;
    transition: all 0.075s ease-out;
}

.showFormBtn svg {
    font-size: 1.6rem;
}

@media (pointer: fine) {
    .addList:hover {
        background-color: rgba(255, 255, 255, .2);
    }

    .addList:active {
        background-color: rgba(255, 255, 255, .25);
    }
}