.addList {
    width: 27rem;
    height: 3rem;
    flex: 0 0 auto;
    border-radius: var(--padding-xs);
}

.addList form {
    width: 100%;
    gap: .5rem;
    font-size: 1.4rem;
    border-radius: var(--padding-xs);
    padding: var(--padding-s);
    background-color: var(--grey-light-1);
}

.addList input {
    width: 100%;
    height: 3.6rem;
    padding: var(--padding-s);
    border-radius: var(--padding-xs);
    font-family: var(--font-primary);
    color: var(--grey-darker);
    border: none;
    text-decoration: none;
    border: 2px solid var(--blue-light-1);
}

.addList__btn {
    width: fit-content;
    color: var(--white);
    background-color: var(--blue-light-1);
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--padding-xs);
    user-select: none;
}

.showFormBtn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 0;
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, .7);
    color: var(--black);
    padding: var(--padding-m);
    border-radius: var(--padding-xs);
    cursor: pointer;
    user-select: none;
    transition: all 0.075s ease-out;
}

.showFormBtn svg {
    font-size: 1.6rem;
}

@media (pointer: fine) {
    .showFormBtn:hover {
        background-color: rgba(230, 230, 230, .7);
    }

    .showFormBtn:active {
        background-color: rgba(220, 220, 220, .7);
    }

    .addList__btn:hover {
        background-color: var(--blue);
    }

    .addList__btn:active {
        background-color: var(--blue-dark-1);
    }

    .showForm__btn:hover {
        background-color: var(--grey);
    }

    .btnDeleteCard svg:hover {
        transform: translateY(-1px);
    }


}