.cardModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 300;
    padding: 4.5rem;
    overflow: auto;
}

.card {
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: 1fr;
    gap: var(--padding-m);
    background-color: var(--grey-light-2);
    max-width: 70rem;
    flex: 1;
    height: 80rem;
    margin: 0 auto;
    border-radius: var(--padding-xs);
    padding: var(--padding-l) var(--padding-l);
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content_section {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    gap: .75rem;
    line-height: 1;
}

.content_section_logo {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: var(--padding-xl);
    font-size: 2rem;

}

.title_cardName {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 600;
}

.title_listName {

    font-size: 1.4rem;
    font-weight: 400;
    color: var(--grey-dark);
}

.title__listName u {
    display: inline;
}

.description {
    font-size: 1.4rem;
    font-weight: 600;
}

.card__menu {}

.card__menu__btn {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-transform: capitalize;
    background-color: var(--grey-light-1);
    border-radius: var(--padding-xs);
    padding: var(--padding-m);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 0;
    user-select: none;
    cursor: pointer;
    transition: all .1s ease-out;
}

@media (pointer: fine) {
    .card__menu__btn:hover {
        background-color: var(--grey);
    }
}