.boardPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: var(--padding-xl) 0;
    background-repeat: noRepeat;
    background-size: cover;
    background-position: 0% 20%;
}

.boardPageTopSection {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    padding: 0 var(--padding-xl);
    margin-bottom: 2rem;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white);
}

.lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    overflow: auto;
    padding: 0 var(--padding-xl);
}


@media only screen and (min-width: 450px) {
    .lists {
        width: 100%;
        flex-direction: row;
    }
}