.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2.5rem;
    background-color: var(--white);
    /*padding: var(--padding-s) var(--padding-m);*/
    border-radius: var(--padding-xs);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, .25);
    font-size: 1.4rem;
}

.cardTitle {
    background-color: var(--grey);
}

.btnDeleteCard {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    cursor: pointer;
    color: var(--grey-dark);
    background-color: rgba(0, 0, 0, .1)
}

.btnDeleteCard svg {}

.addCard {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    color: var(--grey-dark);

}

.addCard form {
    width: 100%;
    font-size: 1.4rem;
}

.addCard textarea {
    width: 100%;
    min-height: 7rem;
    padding: var(--padding-m);
    border-radius: var(--padding-s);
    font-family: var(--font-primary);
    color: var(--grey-darker);

    border: none;
    overflow: gr;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
}

.addCard__btn {
    width: fit-content;
    color: var(--white);
    background-color: var(--blue-light-1);
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--padding-xs);
    margin-top: .5rem;
}

.showForm__btn {
    display: flex;
    align-items: center;
    gap: .75rem;
    line-height: 0px;
    width: 100%;
    padding: var(--padding-m);
    border-radius: var(--padding-s);
    background-color: var(--grey-light);
}

@media (pointer: fine) {
    .showForm__btn:hover {
        background-color: var(--grey);
    }
}