.card {
    min-height: 2rem;
    background-color: var(--white);
    padding: var(--padding-m);
    border-radius: var(--padding-s);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
}

.addCard {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    color: var(--grey-dark);

}

.addCard__btn {
    display: flex;
    align-items: center;
    gap: .75rem;
    line-height: 0px;
    width: 100%;
    padding: var(--padding-m);
    border-radius: var(--padding-s);
    background-color: var(--grey-light);
}

.addCard form {
    width: 100%;
}

.addCard textarea {
    width: 100%;
    min-height: 7rem;
    padding: var(--padding-m);
    border-radius: var(--padding-s);
    font-family: var(--font-primary);
    color: var(--grey-darker);

    border: none;
    overflow: gr;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
}

@media (pointer: fine) {
    .addCard__btn:hover {
        background-color: var(--grey);
    }
}