.add_board {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0rem 0rem;
    width: 17rem;
    height: 9rem;
    border-radius: 3px;
    background-color: var(--grey-light-1);
    color: var(--grey-darker);
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.add_board:first-child {
    width: 100%;
    height: 100%;
}

.target {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.target p {
    margin-top: 3rem;
}

@media (pointer: fine) {
    .add_board:hover {
        filter: brightness(.95);
    }

    .add_board:active {
        filter: brightness(.92);
    }
}

/* ============ Form ================= */

.add_board_form {
    margin: 0 auto;
    width: 30rem;
}

/* ============ Background Selector ================= */

.background_selector {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 12rem;
    border-radius: 5px;
    background-color: var(--blue);
}

.preview img {
    width: 95%;
    height: auto;

}

/* ============ Selector ================= */

.selector {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.selector__section {
    display: flex;
    justify-content: space-between;

}

.img_picker {
    width: 6.4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all .1s ease-out;
    background-repeat: no-repeat;
    background-size: cover;
}

.color_picker {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    width: 4rem;
    height: 3.2rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all .1s ease-out;
}

@media (pointer: fine) {
    .color_picker:hover, .img_picker:hover {
        filter: brightness(.9)
    }
}