.navbar {
    position: relative;
    color: var(--white);
    height: 4rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    font-size: 1.4rem;
    font-weight: 300;
    flex-shrink: 0;
    padding: 0 .5rem;

}

.navbar_blue {
    background-color: var(--blue);
}

.navbar_transparent {
    background-color: var(--grey-darker);
}

.navbar_wrapper {
    background-color: var(--blue);
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
    filter: blur(.4rem) brightness(.8);
    transform: scale(1.5)
}

.icon {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    line-height: 1;
    border-radius: .4rem;
    user-select: none;
    transition: all .1s ease-out;
}

.icon svg {
    font-size: 1.6rem;
}

.icon:hover {
    background-color: var(--blue-light-2);
    transform: translateY(-1px)
}

.icon:active {
    background-color: var(--blue-light-2);
    transform: translateY(0px)
}

.links {
    display: flex;
    gap: 1.5rem;
    font-weight: 400;
    justify-self: flex-start;
}

.link {
    padding: var(--padding-s) var(--padding-m);
    line-height: 1;
    border-radius: .4rem;
    user-select: none;
    transition: all .1s ease-out;
}

.link:hover {
    background-color: var(--blue-light-2);
    transform: translateY(-1px)
}

.link:active {
    background-color: var(--blue-light-2);
    transform: translateY(0px)
}