.boardList {
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    background-color: var(--grey-light);
    padding: var(--padding-xl) var(--padding-m);
    max-width: 100%;
}

.boardListTitle {
    display: flex;
    align-items: center;
    padding-left: 0rem;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--black);
}

.boardListTitle svg {
    font-size: 2.5rem;
}

.boardCards {
    display: flex;
    gap: 2rem;
}