@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --black: #1e2d49;
  --white: #fafbfc;
  --blue: #026aa7;
  --blue-dark: #014a75;
  --blue-light: #e4f0f6;
  --yellow: #F2A950;
  --red: #e4544a;
  --grey: #606e85;
  --grey-dark: #42526e;
  --grey-light: #f0f2f5;
  --brown: #ab7d6e;
  --brown-dark: rgb(131, 56, 34);
  --brown-light: #c48875;
  /* Fonts */
  --font-primary: 'Noto Sans', sans-serif;
  /* Utilities */
  --padding-xs: .2rem;
  --padding-s: .5rem;
  --padding-m: 1rem;
  --padding-l: 2rem;
  --padding-xl: 3rem;
  --product-section-max-width: 77rem;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.4;
}

.transition50ms {
  transition: all .05s ease-out
}